---
import Layout from '../layouts/Layout.astro';

const paintings = [
	{
		title: "Mattel",
		year: 2022,
		color: '#ff008c',
	},
	{
		title: "Kermit",
		year: 2022,
		color: '#50eb3b',
	},
	{
		title: "TS0323",
		year: 2023,
		color: '#ff2700',
	},
	{
		title: "Water Floats",
		year: 2019,
		color: '#0046ff',
	},
	{
		title: "Water on Earth in Space",
		year: 2019,
		color: '#db00ff',
	},
]

const setText = (text: string) => {
	const oldText = '';
	const newText = text;
	console.log(text)
}
---

<Layout title="This Might Be Art">
	<div class="h-12 flex overflow-hidden gap-1 relative group items-center">
		<ul class="flex shrink-0 justify-around animate-scroll min-w-full uppercase font-semibold cursor-not-allowed gap-1 group-hover:[animation-play-state:paused]">
			<li data-title>purported art</li>
		</ul>
		<ul class="flex shrink-0 justify-around animate-scroll min-w-full uppercase font-semibold cursor-not-allowed gap-1 group-hover:[animation-play-state:paused]">
			<li data-title>purported art</li>
		</ul>
	</div>
	<main class="w-full">
		<div class="wrapper container grid md:grid-cols-3 grid-cols-1 mx-auto gap-6" data-painting-container>

			<script>
				const title = 'puported art';

				function setText (event) {
					const newText = event.target.querySelector('h2').innerText;
					document.querySelectorAll("[data-title]").forEach(el => el.innerText = newText)	
				}

				function resetText (event) {
					event.stopPropagation();

					if ((event.target.parentNode.getAttribute('data-painting-container') !== null || event.target.tagName === 'MAIN') && event.toElement.getAttribute('data-painting-container') === null) {
							document.querySelectorAll("[data-title]").forEach(el => el.innerText = title);
					}
				} 

				document.querySelectorAll("[data-trigger='painting']").forEach(el => el.addEventListener('mouseenter', setText));
				document.querySelectorAll("[data-trigger='painting']").forEach(el => el.addEventListener('mouseleave', resetText, false));
				Array.from(document.getElementsByTagName("main")).forEach(el => el.addEventListener('mouseover', resetText, false));
			</script>

			{paintings.map(painting => 
				<div style={`background-color: ${painting.color};`} class="w-full h-36 flex flex-col justify-center items-center relative overflow-hidden" data-trigger="painting">
					<img src={`https://source.unsplash.com/random/${painting.title}`} alt={painting.title} class="absolute" />
					<div class="z-10 flex items-center justify-center flex-col absolute inset-0">
						<h2>{painting.title}</h2>
						<h3>{painting.year}</h3>
					</div>
				</div>
			)}
		</div>
	</main>
</Layout>

<style lang="scss">

	.wrapper {

		div {

			&:hover {
				cursor: pointer;
					div {
						opacity: 1;
					}

					img {
						opacity: 0;
					}
			}

			div {
				opacity: 0;
				transition-duration: 1s;
				
				* {
					color: #fafafa;
				}
			}

			img {
				transition-duration: 1s;
			}
		}
	}

	h1 {
		margin: 0 auto;
		color: var(--headline-color)
	}

	h2, h3 {
		margin: 0;
	}

	p {
		color: hsl(0, 0%, 20%);
		text-transform: uppercase;
		font-weight: 500;
	}

	main {
		margin: auto;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 3rem);
	}
	
	main * {
		color: black;
	}
	
	body {
		background-color: #fafafa;
	}
</style>
